.vscode/
tmp/
.mcuxpressoide_packages_support/

docs/latex/**
!docs/latex/README.md
!docs/latex/main.tex
!docs/latex/chapter*.tex
!docs/latex/main.pdf
!docs/latex/images/
!docs/latex/images/**
docs/latex/qa_png/
artifacts/qa_png/
/.metadata/
