.vscode/
tmp/

documentacion latex/**
!documentacion latex/README.md
!documentacion latex/main.tex
!documentacion latex/chapter*.tex
!documentacion latex/main.pdf
!documentacion latex/images/
!documentacion latex/images/**
documentacion latex/qa_png/
